*{
    margin:0;
    padding:0;
    font-family:Century Gothic;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("forest.jpg") ;
    height:100vh;
    background-size: cover;
    background-position: center;

}

ul
{
    float :right;
    list-style-type: none;
     margin-top:25px;
}
ul li
{
display: inline-block;
}
ul li a
{
    text-decoration: none;
    color: #fff;
    padding:5px 20px;
    border:1px solid transparent;
    transition:0.6s ease;
}
ul li a:hover{
    background-color:#fff;
    color:#000;
}
ul li.active a{
    background-color:#fff;
    color:#000;
}
.logo img
{
    float:left;
    width:150px;
    height:auto;
}
.title{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.title h1
{
    color:#fff;
    font-size: 70px;

}
.button{
    position:absolute;
    top:120%;
    left:50%;
    transform:translate(-50%,-50%);
}
.btn
{
    border:1px solid #fff;
    padding:7px 20px;
    color:#fff;
    text-decoration: none;
    transition:0.6s ease;
}

.btn:hover
{
    background-color:#fff;
    color:#000;
}
body
{
        margin:0;
        padding:0;
        font-family:Century Gothic;
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("forest.jpg") ;
       height:100vh;
       background-size:cover;

}
.signup{
        width:300px;
        box-shadow:0 0 3px 0 rgba(0,0,0,0.5);
        background: #fff;
        padding:20px;
        margin:1%  auto 0;
        text-align: center;
        
        
    }

.signup h1
{
    color: #1c8adb;
    margin-bottom: 30px;

}

.input-box
{
   height:50px;
   width:300px;
    border:1px solid #999;
    outline:none;

}
button{
    color:#fff;
    width:100%;
    padding:10px;
    border-radius: 20px;
    font-size:15px;
    margin:10px 0;
    border:none;
    outline:none;
    cursor:pointer;


}
.signup-btn
{
    background-color:#1c8adb;

}
.face-btn
{
    background-color: #21afde;
}
.insta-btn
{
    background-color: rgb(164, 10, 97);
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:60vh;
    padding-top: 30px; padding-right: 15%;
    padding-left: 20%; 
    width:90%;
    box-sizing: border-box;
    overflow-x:hidden;
}




section::before{
    content:'';
    position: absolute;
    width:350px;
    height:350px;
    /* background: linear-gradient(#ffeb3b,#e91263); */
    border-radius: 50%;
    transform: translate(-220px,-180px); 
    box-sizing: border-box;
} 
.logo1 img
{
    float:right;
    width:80px;
    height:auto;
}
section::after{
    content:'';
    position: absolute;
    width:350px;
    height:350px;
    /* background: linear-gradient(#2196f3,#83d8ff); */
    border-radius: 50%;
    transform: translate(-320px,-180px); 
    box-sizing: border-box;
} 
.container{
    position:relative;
    z-index:1000;
    width:100%;
    max-width: 1000px;
    padding:50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border:1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow:hidden;
    backdrop-filter: blur(20px);
    box-sizing: border-box;

}
.container::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    transform:skewx(-15deg);
    box-sizing: border-box;
}
.container h2{
    font-size: 36px;
    width:100%;
    text-align: center;
    color:#fff;
    margin-bottom: 20px;  
    box-sizing: border-box; 
}
.container .row100{
    position: relative;
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    box-sizing: border-box;
}
.container .row100 .col{
    position: relative;
    width:100%;
    padding:0 10px;
    margin:30px 0 20px;
    box-sizing: border-box;
}
.container .row100 .col .inputBox{
    position: relative;
    width:100%;height:40px;
    color: rgb(225, 221, 221);
    box-sizing: border-box;
}
.container .row100 .col  .inputBox input,
.container .row100 .col  .inputBox textarea
{
    position: absolute;
    width:100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border:none;
    outline:none;
    font-size: 15px;
    padding: 0 10px;
    z-index:1;
    color: #000;
    box-sizing: border-box;
}
.container .row100 .col .inputBox .text{
    position: absolute;
    top:0;
    left:0;
    line-height: 40px;
    font-size: 10px;
    padding:0 10px;
    transition:0.5%;
    pointer-events: none;
    box-sizing: border-box;
}
.container .row100 .col  .inputBox input:focus +.text,
.container .row100 .col  .inputBox input:valid+.text,
.container .row100 .col  .inputBox textarea:focus +.text,
.container .row100 .col  .inputBox textarea:valid+.text{
    top:-35px;
    left:-10px;
    box-sizing: border-box;
}
.container .row100 .col  .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width:100%;
    height:2px;
    background: #fff;
    transition:2px;
    pointer-events: none;box-sizing: border-box;
}
.container .row100 .col  .inputBox input:focus ~.line,
.container .row100 .col  .inputBox input:valid ~ .line{
    height: 100%;box-sizing: border-box;
}
.container .row100 .col  .inputBox .textarea{
    position: relative;
    width:100%;
    height: 100px;
    padding:10px 0;
    box-sizing: border-box;
}
.container .row100 .col  .inputBox textarea:focus ~.line,
.container .row100 .col  .inputBox textarea:valid ~ .line{
    height:100%;box-sizing: border-box;
}
.container .row100 .col  .inputBox input[type="submit"]
{
    border:none;padding:10px 40px;
    cursor:pointer;outline:none;background:#fff;
    color:#000;font-weight: 600;
    font-size: 10px;box-sizing: border-box;
}
@media(max-width:760px){
    section::before{
        
        transform: translate(-200px,-180px); 
    } 
    section::after{
        
        transform: translate(-220px,-180px); 
    } 
    .container{
        padding:20px;
    }
    .container h2{
        font-size:20px;
    }
}





